@model FinanceTracker.Models.Transactions

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-red-500 font-semibold mb-4">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

<form asp-controller="Transactions"
      asp-action="SaveTransaction"
      method="post">
    @Html.AntiForgeryToken()

    <div class="flex flex-col space-y-4">
        <label asp-for="date" class="mb-1 text-sm font-medium text-gray-700">
            Description
        </label>
        @Html.TextBoxFor(m => m.description, new
            {
                @class = "border-2 border-pink-900 p-2 rounded",
                placeholder = "Description"
            })
        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-red-500 text-sm" })

        <label asp-for="date" class="mb-1 text-sm font-medium text-gray-700">
            Gategory
        </label>
        @Html.DropDownListFor(m => m.category,
                 new SelectList(Enum.GetValues(typeof(Category))),
                 "-- Select Category --",
                 new
                 {
                     @class = "border-2 border-pink-900 p-2 rounded"
                 })
        @Html.ValidationMessageFor(m => m.category, "", new { @class = "text-red-500 text-sm" })

        <label asp-for="date" class="mb-1 text-sm font-medium text-gray-700">
            Amount
        </label>
        @Html.TextBoxFor(m => m.amount, new
            {
                @class = "border-2 border-pink-900 p-2 rounded",
                placeholder = "Money"
            })
        @Html.ValidationMessageFor(m => m.amount, "", new { @class = "text-red-500 text-sm" })

        <div class="flex flex-col">
            <label asp-for="date" class="mb-1 text-sm font-medium text-gray-700">
                Date
            </label>
            @Html.TextBoxFor(m => m.date, new
                {
                    type = "date",
                    @class = "border-2 border-pink-900 p-2 rounded",
                    Value = Model.date.ToString("yyyy-MM-dd")
                })
        </div>

        <button type="submit"
                class="bg-pink-900 text-white px-4 py-2 rounded border duration-300 border-pink-900 cursor-pointer hover:bg-white hover:text-neutral-900 font-semibold">
            Save
        </button>
    </div>
</form>
